# NPM
**/node_modules/
.git
.gitignore
npm-debug.log
.coverage
.coverage.*
.aws

# Flask/python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# Virtual Env
x-venv

# Meta
Dockerfile
.dockerignore
*.yml
*.yaml

# Misc
.vscode
*.env-sample